/* --- Footer --- */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    margin-top: 25px;
    gap: 6rem;

    .item {
        display: flex;
        font-weight: normal;
    }
    .circle {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: 1px solid #2079ff;
        cursor: pointer;
        background: rgba(51, 91, 152, 0.2);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(3px);
        box-shadow: 0px 2px 4px #2079ff, inset 0px 0px 6px #771eff;
        .img {
            width: 60%;
            aspect-ratio: 1;
        }
    }
}

@media (max-width: 1200px) {
    footer {
        gap: 3rem;
    }
}

@media (max-width: 480px) {
    footer {
        justify-content: center;
        gap: 1.5rem;
        .text {
            display: none;
        }
    }
}
