.card {
  padding: 45px;
  border: 2px solid #182d5555;
  height: fit-content;
  border-radius: 30px;
  backdrop-filter: blur(6px);
  box-shadow: 2px 2px 1px #2079ff;
}


.card p {
  line-height: 1.4em;
}

.card h1 {
  font-size: 1.6em;
  line-height: 2em;
}


/* --- Space --- */
.page .space {
  display: flex;
  height: 10px;
}