.card {
    display: flex;
    position: relative;
    padding: 45px;
    border: 2px solid #182d5555;
    height: 100%;
    width: clamp(100px, 90%, 2048px);
    border-radius: 30px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 2px 2px 1px #2079ff;
    line-height: 1.7;
    overflow-y: scroll;
}

.card ol li:not(:first-child) {
    padding-top: 30px;
}

.card ol li:last-child {
    padding-bottom: 50px;
}




/* -- Media Adjustment -- */
@media (max-width: 960px) {
    .card {
        height: 90%;
    }
}


@media (max-width: 480px) {
    .card {
        height: 90%;
    }
}