/* --- Content --- */
  .content-section {
    max-height: 900px;
  }

  .content-section .os {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 45px;
    column-gap: 45px;
  }

  .content-section .os .card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    cursor: pointer;
    border: 2px solid #182d5555;
    height: calc(245px + 3svw);
    width: calc(200px + 3svw);
    border-radius: 30px;
    /* backdrop-filter: blur(6px); */
    box-shadow: 2px 2px 1px #2079FF;
    transform-style: preserve-3d;
    transition: ease-in-out 1s;
  }

  .os .card:hover {
    transform: rotateY(180deg);
  }
  .card .front,
  .card .back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .os .card .front {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    top: 40px;
    transform-style: preserve-3d;
    transform: translateZ(75px);
  }
  
  .card .back {
    transform-style: preserve-3d;
    transform:  translateZ(-70px) rotateY(180deg);
  }
  
  /* -- Media Adjustment -- */
  @media (max-width: 960px) {}
  
  @media (max-width: 480px) {}

  