.content-section {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.content-section .card-grid {
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    width: 100%;
}

.content-section .card-grid .card {
    display: flex;
    margin: 25px 10px 25px 10px;
    width: 31%;
    aspect-ratio: 16/9;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.content-section .card-grid .card:hover {
    scale: 1.05;
}

.content-section .card-grid .card .video-player {
    border: 1px solid #182d5555;
    height: 99%;
    width: 99%;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #2079ff;
}

.content-section .card-grid .card .video-player iframe {
    height: 99%;
    width: 99%;
    align-content: center;
    justify-content: center;
    align-self: center;
    border-radius: 30px;
}

.video-title {
    margin-bottom: 15px;
}

/* -- Media Adjustment -- */
@media (max-width: 1450px) {
    .content-section .card-grid .card {
        width: 45%;
    }
}
@media (max-width: 960px) {
    .content-section .card-grid .card {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .content-section .card-grid .card {
        width: 100%;
    }
}
