@font-face {
  font-family: 'Tajawal';
  src: url('../Fonts/Tajawal-Black.woff2') format('woff2'),
      url('../Fonts/Tajawal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display:swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../Fonts/Tajawal-ExtraBold.woff2') format('woff2'),
         url('../Fonts/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../Fonts/Tajawal-Bold.woff2') format('woff2'),
      url('../Fonts/Tajawal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display:swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../Fonts/Tajawal-Medium.woff2') format('woff2'),
        url('../Fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../Fonts/Tajawal-Regular.woff2') format('woff2'),
        url('../Fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../Fonts/Tajawal-Light.woff2') format('woff2'),
        url('../Fonts/Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../Fonts/Tajawal-ExtraLight.woff2') format('woff2'),
        url('../Fonts/Tajawal-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}




* {
  margin: 0;
  padding: 0;
}

:root {
  --text--: #fff;
  --bur--: #5b3398;
  --blu--: #182d55;
}

a {
  color: var(--text--);
  text-decoration: none;
}

input {
  display: none;
}

.menu-section {
  display: none;
}

/* --- Background --- */
.background {
  background-image: url("../Assets/Background.webp");
  background-size: cover;
  position: fixed;
  width: 100svw;
  height: 100svh;
  background-position-x: right;
  z-index: -3;
}


/* --- Page --- */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100svw;
  height: 100svh;
  font-family: "Tajawal";
  color: var(--text--);
  text-align: right;
}

.container {
  margin: 4svh 9svw 4svh 9svw;
}


/* --- Header --- */
.header-section .header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header-section .header .menu {
  display: none;
}

.header-section .header .logo img {
  width: 50px;
}

.header-section .header .top-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.header-section .header .top-menu .list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 18px;
  margin-left: 9svw;
}

.header-section .header .top-menu .list .item {
  display: flex;
  margin: 0 2vw 0 2vw;
  font-weight: bold;
}

.header-section .header .top-menu .contribute {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header-section .header .top-menu .contribute .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(91, 51, 152, 0.1);
  box-shadow: 1px 1px 4px 0px #771eff,
           0px 0px 70px -5px #771eff99,
           inset 0px 0px 16px #771eff99;
  width: 140px;
  height: 45px;
  border-top: solid 2px #2079ffee;
  border-left: solid 2px #2079ffee;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  backdrop-filter: blur(3px);
  transition: 1s;
  animation: glowe 3s infinite ;
}

.header-section .header .top-menu .contribute .line {
  position: absolute;
  width: 9svw;
  height: 1px;
  background: white;
  transform: translate(-140px, 0);
  align-self: center;
  z-index: -1;
  opacity: 0.7;
}


/* --- Content --- */
.content-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 300px;
  max-height: 600px;
}

.content-section .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}


.content-section .right .title {
  font-size: calc(36px + 1svw);
  font-weight: bold;
  margin-bottom: 2svh;
}

.content-section .right .paragraph {
  width: calc(240px + 18svw);
  font-size: calc(14px + 35%);
  font-weight: normal;
  color: rgb(215, 215, 215);
  line-height: 40px;
  margin-bottom: auto;
  word-wrap: break-word;
  align-self: end;
}

.content-section .right .bottom {
  display: flex;
  flex-direction: row-reverse;
}

.content-section .right .bottom .download {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-section .right .bottom .download .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(91, 51, 152, 0.1);
  box-shadow: 1px 1px 4px 0px #771eff,
           0px 0px 70px -5px #771eff99,
           inset 0px 0px 16px #771eff99;
  width: 140px;
  height: 45px;
  border-top: solid 2px #2079ffee;
  border-left: solid 2px #2079ffee;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  backdrop-filter: blur(3px);
  align-self: flex-start;
  transition: 1s;
  animation: glowe 3s infinite ;
}

.content-section .right .bottom .download .line {
  position: absolute;
  width: 9vw;
  height: 1px;
  background: white;
  transform: translate(140px, 0);
  align-self: center;
  z-index: -1;
  opacity: 0.7;
}

.content-section .right .bottom .underline-button {
  align-self: center;
  margin-right: 50px;
  text-decoration: underline;
}

.content-section .left {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.content-section .left .logo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #182d5555;
  border-left: 2px solid #182d5555;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 30px;
  backdrop-filter: blur(6px);
  box-shadow: 2px 2px 1px #2079FF;
}

.content-section .left .logo {
  width: 70%;
}

.content-section .left .code {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-60px, -45px);
  width: calc(100px + 5svw);
  z-index: -1;
}

.content-section .right .for-tab {
  display: none;
}

/* --- Footer --- */
.footer-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  font-size: 18px;
}

.footer-section .item {
  display: flex;
  margin-left: 6svw;
  font-weight: normal;
}

.footer-section .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 1px solid #2079ff;
  background: rgba(51, 91, 152, 0.2);
  backdrop-filter: blur(6px);
  box-shadow: 0px 2px 4px #2079ff, inset 0px 0px 6px #771eff;
}

.footer-section .circle .img {
  width: 23px;
}





/* -- Media Adjustment -- */
@media (max-width: 960px) {

  .background {
    width: 100%;
    height: 100%;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-family: "Tajawal";
    color: var(--text--);
    text-align: right;
  }

  /* --- Header --- */
  .header-section .header {
    flex-direction: column;
    align-items: stretch;
  }

  .header-section .header .logo {
    margin-bottom: 5svh;
    align-self: center;
  }
  
  .header-section .header .top-menu .list {
    margin-left: auto;
  }

  .header-section .header .top-menu .list .item {
    margin: 0 0 0 6svw;
  }

  /* --- Content --- */
  .content-section {
    min-height: 720px;
    max-height: 960px;
    justify-content: center;
  }

  .content-section .left {
    display: none;
  }

  .content-section .right {
    margin-left: 0;
    width: 100%;
  }

  .content-section .right .title {
    font-size: calc(36px + 2svw);
    margin-bottom: 2svh;
  }
  
  .content-section .right .paragraph {
    width: 60svw;
    font-size: calc(16px + 1svw);
    margin-bottom: 120px;
    align-self: end;
  }

  .content-section .right .for-tab {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .content-section .right .for-tab .logo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #182d5555;
    border-left: 2px solid #182d5555;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 30px;
    backdrop-filter: blur(6px);
    box-shadow: 2px 2px 1px #2079FF;
  }
  
  .content-section .right .for-tab .logo {
    width: 70%;
  }
  
  .content-section .right .for-tab .code {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(90px, -50px);
    width: calc(60px + 15svw);
    z-index: -1;
  }
  

  /* --- Footer --- */
  .footer-section {
    justify-content: space-evenly;
    z-index: -1;
  }

  .footer-section .item {
    margin-left: 0;
  }
  
  .footer-section .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #2079ff;
    background: rgba(51, 91, 152, 0.2);
    backdrop-filter: blur(6px);
    box-shadow: 0px 2px 4px #2079ff, inset 0px 0px 6px #771eff;
  }
  
  .footer-section .circle .img {
    width: 23px;
  }
}





@media (max-width: 480px) {

  .background {
    background-image: url("../Assets/Background-Mobile.webp");
  }


  /* --- Header --- */
  .header-section .header {
    align-items: center;
    flex-direction: row-reverse;
  }

  .header-section .header .logo {
    margin-left: 45%;
    margin-bottom: 0;
    z-index: 5;
  }
  
  .header-section .header .top-menu {
    display: none;
  }

  .header-section .header .menu {
    display: flex;
    z-index: 5;
  }
  
  .header-section .header .menu .lines {
    display: flex;
    cursor: pointer;
  }

  .header-section .header .menu .lines .svg {
    width: 40px;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-section .header .menu .lines .svg .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
     stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-section .header .menu .lines .svg .top-bottom {
    stroke-dasharray: 12 63;
  }

  .header-section .header .menu .lines input:checked + .svg {
    transform: rotate(-45deg);
  }

  .header-section .header .menu .lines input:checked + .svg .top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* --- Content --- */
  .content-section {
    min-height: 600px;
    max-height: 800px;
  }

  .content-section .left {
    display: none;
  }

  .content-section .right .title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .content-section .right .paragraph {
    width: 80svw;
    font-size: 16px;
    margin-bottom: 90px;
  }

  .content-section .right .for-tab {
    position: relative;
    display: flex;
    margin-bottom: 100px;
  }
  
  .content-section .right .for-tab .logo-card {
    height: 100%;
  }
  
  .content-section .right .for-tab .code {
    transform: translate(-15px, -45px);
    width: 40svw;
    z-index: -1;
  }


  /* --- Slider Menu --- */
  .page {
    overflow-x: hidden;
  }
  .page.close {
    overflow: hidden;
  }

  .menu-section {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 9, 19, 0.7);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    z-index: 4;
    transform: translateX(100svw);
    transition: 1s;
  }

  .menu-section.open {
    transform: translateX(0);
  }

  .menu-section .slide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #021232cd;
    border-radius: 30px;
    width: 70%;
    height: 70%;
    row-gap: 7svh;
    margin-top: 50px;
  }

  .menu-section .stroke-anim {
    position: absolute;
    background-color: #031c4a00;
    border-radius: 30px;
    width: 70%;
    height: 70%;
    border-bottom: 1px solid;
    border-color: blue;
    box-shadow: inset 0 -6px 18px -6px blue;
    margin-top: 50px;
    transition: 4s;
    animation: stroke-color 4s linear infinite;
  }

  /* --- Footer --- */
  .footer-section .text {
    display: none;
  }
}






@keyframes glowe {
  50% {
    box-shadow: 1px 1px 4px 0px #771eff,
    0px 0px 70px -5px #771eff55,
    inset 0px 0px 8px #771effaa;
  }
}

@keyframes stroke-color {
  50% {
    filter: hue-rotate(35deg)
  }
}