@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-tajawal), Arial, Helvetica, sans-serif;
  --font-kufi: var(--font-noto-kufi-arabic), monospace;

  /* Site Background */
  --color-site-bg: #0c001c;

  /* Primary Colors */
  --color-primary: #247bff;
  --color-primary-deep: #335b98;

  /* Secondary Colors */
  --color-secondary: #812eff;
  --color-secondary-deep: #5b3398;

  /* Accent Colors */
  --color-accent-primary: #00f2ff;
  --color-accent-secondary: #ff00f2;

  /* Text Colors */
  --color-text: #eeeeee;
  --color-text-secondary: #bbbbbb;

  /* Custom Breakpoint */
  --breakpoint-tablet: 48rem;
  --breakpoint-labtop: 80rem;
  --breakpoint-desktop: 120rem;
}

body {
  font-family: var(--font-tajawal), sans-serif;
  background-color: var(--color-site-bg);
  color: var(--color-text);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--color-site-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-primary);
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) var(--color-site-bg);
}
