@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-tajawal), Arial, Helvetica, sans-serif;
  --font-kufi: var(--font-noto-kufi-arabic), monospace;
}

body {
  font-family: var(--font-tajawal), sans-serif;
}